#content.about-page {
  grid-area: content;
}

#content.about-page > header {
  background-color: gray;
  color: white;
  padding: 10px;
}

#content.about-page > section {
  padding: 10px;
}

#sidebar.about-page {
  grid-area: sidebar;
  background-size: cover;
}
