#content.home-page {
  grid-area: content;
}

#content.home-page > header {
  background-color: gray;
  color: white;
  padding: 10px;
}

#content.home-page > section {
  padding: 10px;
}

#sidebar.home-page {
  grid-area: sidebar;
  /* background-image: url(../../images/sidebar/home-sidebar.jpg); */
  background-size: cover;
}
