:root {
  font-size: 100%;
  font-family: arial;
}

.page-layout {

  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 70px 40px auto 50px;

  grid-template-areas:
    "header header"
    "menu menu"
    "content sidebar"
    "footer footer";
}

#page-header {
  grid-area: header;
  background-color: navy;
  color: white;
  padding: 16px;
}

#page-header h1 {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
}

#page-header h1 img {
  height: 1.8rem;
}

#page-header h1 * {
  margin: 4px;
}

#main-menu {
  grid-area: menu;
  position: relative;
}

#main-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

#main-menu ul li {
  padding: 2px;
  margin: 2px;
  box-sizing: border-box;
}

#content {
  grid-area: content;
}

#content > header {
  background-color: gray;
  color: white;
  padding: 10px;
}

#content > section {
  padding: 10px;
}

#sidebar {
  grid-area: sidebar;
  background-size: cover;
}

#page-footer {
  grid-area: footer;
  background-color: navy;
  color: white;
  text-align: center;
  padding-top: 20px;
}

#page-footer > small {
  font-size: 0.8rem;
}

